In [1]:
pip install scikit-multilearn

Requirement already satisfied: scikit-multilearn in c:\users\wicm\anaconda3\lib\site-packages (0.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install liac-arff

Requirement already satisfied: liac-arff in c:\users\wicm\anaconda3\lib\site-packages (2.5.0)Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import os

file_df = pd.read_csv('data/data_set_label_adjusted.csv')

In [37]:
X = file_df.loc[:, ['filename']].to_numpy()
y = file_df.loc[:, ["Healthy Lifestyle and Weight Loss", "Weight Lifting", "Running", "Yoga", "Haircare", "Makeup", "Skincare", "Outfit", "Accommodation", "Adventure", "Culture", "Food and drink"]].to_numpy()

In [38]:
X.shape

(796, 1)

In [39]:
y.shape

(796, 12)

In [62]:
from skmultilearn.dataset import load_dataset
from skmultilearn.model_selection import iterative_train_test_split

#X, y, _, _ = load_dataset('scene', 'undivided')

X_train, y_train, X_test, y_test = iterative_train_test_split(X, y, test_size=0.1)
X_train, y_train, X_val, y_val = iterative_train_test_split(X, y, test_size=0.1)

In [63]:
X_train.shape

(715, 1)

In [64]:
X_test.shape

(80, 1)

In [65]:
X_val.shape

(81, 1)

In [68]:
from skmultilearn.model_selection.measures import get_combination_wise_output_matrix
from collections import Counter

pd.DataFrame({
    'train': Counter(str(combination) for row in get_combination_wise_output_matrix(y_train, order=2) for combination in row),
    'test' : Counter(str(combination) for row in get_combination_wise_output_matrix(y_test, order=2) for combination in row),
    'validation' : Counter(str(combination) for row in get_combination_wise_output_matrix(y_val, order=2) for combination in row)
}).T.fillna(0.0)

,"(8, 8)","(9, 9)","(10, 10)","(9, 10)","(10, 11)","(9, 11)","(11, 11)","(0, 0)","(0, 1)","(1, 1)",...,"(7, 7)","(2, 2)","(6, 6)","(8, 9)","(8, 11)","(4, 4)","(0, 2)","(5, 6)","(5, 7)","(1, 2)"
train,29.0,155.0,49.0,42.0,16.0,26.0,51.0,68.0,13.0,80.0,...,81.0,68.0,59.0,13.0,6.0,7.0,2.0,2.0,1.0,1.0
test,3.0,17.0,5.0,5.0,2.0,3.0,6.0,8.0,1.0,9.0,...,9.0,8.0,7.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0
validation,3.0,17.0,5.0,5.0,1.0,3.0,6.0,8.0,1.0,9.0,...,9.0,8.0,7.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0

In [69]:
y_train.shape[0], y_test.shape[0], y_val.shape[0]

(715, 80, 81)